.lawyer{
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.avatar{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    overflow: hidden;
}

.action{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: auto;
}